---
import Layout from "../layouts/Layout.astro";
import FooterLogin from "../components/FooterLogin.astro";
---

<Layout title="Model Y - A New Era of Electric">
  <div class="relative h-screen overflow-hidden bg-black">
    <!-- Image Section -->
    <img
      src="image-1.png"
      alt="Model Y"
      class="absolute inset-0 object-cover w-full h-full"
    />

    <!-- Overlay Section -->
    <div class="relative z-10 h-full flex flex-col justify-between">
      <!-- Details Section -->

      <div class="container mx-auto p-8 h-full flex items-center justify-start">
        <div class="card w-96 glass max-w-lg rounded-xl p-6 shadow-xl">
          <h1 class="text-3xl lg:text-4xl font-semibold text-gray-800 mb-3">
            Model Y
          </h1>
          <p class="text-lg text-gray-800 mb-6">
            Experience the electrifying power and luxury of Model Y.
          </p>

          <div class="text-gray-800 font-semibold text-xl mb-4">
            Starting at <span class="text-3xl">$41,150</span>
          </div>

          <!-- Specs -->
          <div class="grid grid-cols-2 gap-x-6 gap-y-3 text-gray-700 mb-6">
            <div>Range (est.): <span class="font-semibold">242 mi</span></div>
            <div>Top Speed: <span class="font-semibold">135 mph</span></div>
            <div>
              Acceleration: <span class="font-semibold">0-60 mph in 6.6s</span>
            </div>
            <!-- More specs -->
          </div>

          <div>
            <button
              class="w-full bg-black text-white font-semibold py-2 px-4 rounded transition duration-300 ease-in-out hover:bg-gray-800"
            >
              Order Now
            </button>
          </div>
        </div>
      </div>

      <!-- Footer Section -->
      <div class="container mx-auto p-8">
        <FooterLogin />
      </div>
    </div>
  </div>
</Layout>
